---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "/src/components/HeroSmall.astro";
import IconRow from "/src/components/widgets/IconRow.astro";
import ImageRow from "/src/components/widgets/ImageRow.astro";
import HtmlBlock from "/src/components/simple/HtmlBlock.astro";
import IndexAccordion from "../../../components/grid/IndexAccordion.astro";

const pageTitle = "Ginecología";
const url = "/salud-mujer/ginecologia/banner-ginecologia.jpg";
import { content } from "./ginecologia-content.ts";

const sections = [
  {
    id: "section_1",
    title: "El propósito",
  },
  {
    id: "section_2",
    title: "Evaluación ginecológica",
  },
  {
    id: "section_3",
    title: "Valoración y prevención",
  },
];
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <IndexAccordion sections={sections} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail"
  >
    
    <!-- SECTION 1 -->
    <section id="section_1">
      <IconRow imageSrc={content[0].icon} title={content[0].title} />
      <ImageRow
        imageSrc={content[0].imageSrc}
        orientation={content[0].orientation}
        html={content[0].description_1}
      />
    </section>

    <!-- SECTION 2 -->
    <section id="section_2">
      <IconRow imageSrc={content[1].icon} title={content[1].title} />
      <ImageRow
        imageSrc={content[1].imageSrc}
        orientation={content[1].orientation}
        html={content[1].description_1}
      />
    </section>

    <!-- SECTION 3 -->
    <section id="section_3">
      <IconRow imageSrc={content[2].icon} title={content[2].title} />
      <HtmlBlock html={content[2].description_2} />
      <ImageRow
        imageSrc={content[2].imageSrc}
        imageDesc={content[2].imageDesc}
        orientation={content[2].orientation}
        html={content[2].description_1}
      />
      <ImageRow
        imageSrc={content[3].imageSrc}
        orientation={content[3].orientation}
        html={content[3].description_1}
      />
      <ImageRow
        imageSrc={content[4].imageSrc}
        orientation={content[4].orientation}
        html={content[4].description_1}
      />
      <ImageRow
        imageSrc={content[5].imageSrc}
        orientation={content[5].orientation}
        html={content[5].description_1}
      />
      <ImageRow
        imageSrc={content[6].imageSrc}
        orientation={content[6].orientation}
        html={content[6].description_1}
      />
      <!-- ESTÁTICO -->
      <HtmlBlock html={content[7].description_1} />
      <ImageRow
        imageSrc={content[8].imageSrc}
        orientation={content[8].orientation}
        html={content[8].description_1}
      />
    </section>
  </div>
</BaseLayout>
