---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "../../../components/HeroSmall.astro";
import IconRow from "../../../components/widgets/IconRow.astro";
import ImageRow from "../../../components/widgets/ImageRow.astro";
const pageTitle = "Onco-gine";
const url = "/salud-mujer/onco-gine/banner-oncogine.png";

import type { BaseContent } from "../../../interface/BaseContent";
import HtmlBlock from "../../../components/simple/HtmlBlock.astro";
import Column from "../../../components/widgets/Column.astro";
import IconColumn from "../../../components/widgets/IconColumn.astro";

import { content } from "./onco-gine-content";
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail pink"
  >
    <!-- Nuestra recomendaciones -->
    <section>
      <IconRow imageSrc={content[0].icon} title={content[0].title} />
      <HtmlBlock html={content[1].description_2} />
      <ImageRow
        imageSrc={content[1].imageSrc}
        orientation={content[1].orientation}
        html={content[1].description_1}
      />
    </section>

    <!-- Valoración en equipo -->
    <section>
      <IconRow imageSrc={content[2].icon} title={content[2].title} />
      <ImageRow
        imageSrc={content[3].imageSrc}
        orientation={content[3].orientation}
        html={content[3].description_1}
      />
    </section>

    <!-- Tratamiento -->
    <section>
      <IconRow imageSrc={content[4].icon} title={content[4].title} />
      <ImageRow
        imageSrc={content[5].imageSrc}
        orientation={content[5].orientation}
        html={content[5].description_1}
      />
    </section>

    <!-- Otros -->
    <section>
      <IconRow imageSrc={content[6].icon} title={content[6].title} />
      <ImageRow
        imageSrc={content[7].imageSrc}
        orientation={content[7].orientation}
        html={content[7].description_1}
      />
    </section>

    <HtmlBlock html={content[8].description_1} />

    <!-- Iconos -->
    <section>
      <Column number="2">
        <IconColumn
          imageSrc={content[9].imageSrc}
          title={content[9].title}
          text={content[9].description_1}
        />

        <IconColumn
          imageSrc={content[10].imageSrc}
          title={content[10].title}
          text={content[10].description_1}
        />
      </Column>
    </section>

    <!-- Pulmón -->
    <section>
      <ImageRow
        imageSrc={content[11].imageSrc}
        orientation={content[11].orientation}
        html={content[11].description_1}
      />
    </section>

    <!-- Colon -->
    <section>
      <ImageRow
        imageSrc={content[12].imageSrc}
        orientation={content[12].orientation}
        html={content[12].description_1}
      />
    </section>

    <!-- Pruebas diagnósticas -->
    <section>
      <IconRow imageSrc={content[13].icon} title={content[13].title} />
      <ImageRow
        imageSrc={content[14].imageSrc}
        orientation={content[14].orientation}
        html={content[14].description_1}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[16].description_1}
        orientation={content[16].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[17].description_1}
        orientation={content[17].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[18].description_1}
        orientation={content[18].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[19].description_1}
        orientation={content[19].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[20].description_1}
        orientation={content[20].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[21].description_1}
        orientation={content[21].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[22].description_1}
        orientation={content[22].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[23].description_1}
        orientation={content[23].orientation}
      />
    </section>

    <section>
      <Column number="2">
        <HtmlBlock html={content[24].description_1} />
        <HtmlBlock html={content[25].description_1} />
      </Column>
    </section>
  </div>
</BaseLayout>
