---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "../../../components/HeroSmall.astro";
import IconRow from "../../../components/widgets/IconRow.astro";
import ImageRow from "../../../components/widgets/ImageRow.astro";
const pageTitle = "Onco-gine";
const url = "/src/assets/salud-mujer/onco-gine/banner-oncogine.png";

import type { BaseContent } from "../../../interface/BaseContent";
import HtmlBlock from "../../../components/simple/HtmlBlock.astro";
import Column from "../../../components/widgets/Column.astro";
import IconColumn from "../../../components/widgets/IconColumn.astro";

export const content: BaseContent[] = [
  {
    icon: "/src/assets/salud-mujer/onco-gine/icon-oncogine1.png",
    title: "Nuestras recomendaciones preventivas para ti",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine1.png",
    imageDesc: "",
    description_1: `<ul class="plan-vida-p">
                    <li><span><strong>Exploración Ginecológica:</strong> Se buscarán signos y síntomas en genitales externos y tacto vaginal, permitiendo la valoración de útero y ovarios.</span></li>
                    <li><span>Mamografías.</span></li>
                    <li><span>Eco Abdomino-Pélvica.</span></li>
                    <li><span><strong>Eco Transvaginal:</strong> Visualizamos útero, trompas y ovarios buscando masas sugestivas.</span></li>
                    <li><span><strong>Histeroscopia Diagnóstica:</strong>  Si se confirma sospecha de tumor se introduce una cámara a través del cuello del útero, esta prueba es sencilla y se realiza de forma ambulatoria.</span></li>
                    <li><span><strong>Citología:</strong> Analizamos células del cérvix para detectar presencia de infecciones, lesiones precancerosas y cáncer.</span></li>
                    <li><span><strong>Colposcopia:</strong> Se realiza en la misma consulta y visualizamos el útero, vagina y vulva.</span></li>
                    <li><span><strong>Análisis de sangre:</strong> Nos da información adyuvante, dando parámetros que puedan ser sugestivos de presencia de cáncer.</span></li>
                    <li><span><strong>Biopsia:</strong> Con sospecha positiva es necesario extraer muestras para analizarlas.</span></li>
                    <li><span>Realización el ganglio centinela.</span></li>
                </ul>`,
    orientation: 0,
    description_2: `
      <p>Realiza un tratamiento integral del cáncer en la mujer, desde su diagnóstico hasta su curación, lo que implica la puesta en marcha de un programa de detección precoz (chequeos), tratamiento de la enfermedad primaria y recidivante.</p>
    
      <p>
          Los tipos de tumores que se tratan son: tumores de mama, ovario,
          trompas de Falopio, cuello uterino, endometrio, miometrio, vulva,
          vagina, y peritoneo.
        </p>`,
  },
  {
    icon: "/src/assets/salud-mujer/onco-gine/icon-oncogine2.png",
    title: "Valoración en equipo multidisciplinar:",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine2.png",
    imageDesc: "",
    description_1: `<p>Realiza un tratamiento integral del cáncer en la mujer, desde su diagnóstico hasta su curación, lo que implica la puesta en marcha de un programa de detección precoz (chequeos), tratamiento de la enfermedad primaria y recidivante.</p><br>
<p>Los tipos de tumores que se tratan son: tumores de mama, ovario, trompas de Falopio, cuello uterino, endometrio, miometrio, vulva, vagina, y peritoneo.</p>`,
    orientation: 1,
    description_2: "",
  },
  {
    icon: "/src/assets/salud-mujer/onco-gine/icon-oncogine3.png",
    title: "Tratamiento",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine3.png",
    imageDesc: "",
    description_1: `<ul class="plan-vida-p">
                    <li><span>Cirugía radical del cáncer ginecológico.</span></li>
                    <li><span>Cirugía mini-invasiva laparoscópica o robótica del cáncer ginecológico.</span></li>
                    <li><span>Conservación de la fertilidad en mujeres con cáncer ginecológico.</span></li>
                    <li><span>Quimioterapia.</span></li>
                    <li><span>Radioterapia.</span></li>
                    <li><span>Reconstrucción estética de la mama.</span></li>
                </ul>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "/src/assets/salud-mujer/onco-gine/icon-oncogine4.png",
    title: "Otros",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine4.png",
    imageDesc: "",
    description_1: `<h3>Cáncer de piel:</h3>
                <p>Cualquier persona que pasa tiempo bajo el sol puede padecer cáncer de piel. Las personas de piel blanca, especialmente las que tienen el cabello rubio o que son pelirrojas, tienen una mayor probabilidad de padecer este cáncer que las personas de piel más oscura. Las personas que hayan tenido un familiar cercano con melanoma y aquellas que han tenido quemaduras solares graves durante la niñez tienen una mayor probabilidad de padecer cáncer de piel.</p>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "",
    imageDesc: "",
    description_1: `<p>
  La mayoría de los cánceres de piel pueden prevenirse limitando la exposición a
  rayos ultravioleta (UV) provenientes del sol y de otras fuentes como las camas
  de bronceado.
</p>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "Examen de la piel:",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine5.png",
    imageDesc: "",
    description_1: `<p class="p-eco p-pink">
                    <span>Examen de la piel:</span><br>
                    Prestar atención a todos los lunares y las manchas de su piel.
                </p>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "/src/assets/salud-mujer/onco-gine/img-oncogine6.png",
    title: "Biopsia de piel",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine6.png",
    imageDesc: "",
    description_1: `<p class="p-eco p-pink">
                    <span>Biopsia de piel: </span><br>
                    Se puede tomar una muestra de la piel sospechosa para realizar un análisis para diagnostico y saber el abordaje terapéutico.
                </p>`,
    orientation: 0,
    description_2: "",
  },

  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine2.png",
    imageDesc: "",
    description_1: `<h3>Cáncer de Pulmón</h3>
                <p>Al menos 8 de cada 10 pacientes diagnosticados, se deben al hábito de fumar. Sin embargo, las personas que no fuman pueden también pueden padecerlo.</p>
                <p>Es uno de los pocos cánceres que a menudo se puede prevenir: simplemente no fume.</p>
                <p>Si fuma o es un exfumador, tiene de 55 a 74 años, y está relativamente bien de salud, usted podría beneficiarse de pruebas de imagen como Rx y/o tomografía computarizada realizada cada año como prueba de detección del cáncer de pulmón.</p>`,
    orientation: 1,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine7.png",
    imageDesc: "",
    description_1: `<div class="col-md-6">
                <h3>Cáncer de Colon:</h3>
                <p>Si existe un antecedente personal o familiar de este cáncer, o que tengan pólipos en el colon o el recto, o aquellas con enfermedad inflamatoria intestinal, son más propensas a padecer cáncer de colon. Además, el sobrepeso, la alimentación basada principalmente en alimentos con un alto contenido de grasa (especialmente de fuentes animales), fumar y la falta de ejercicio puede causar que una persona tenga más probabilidad de padecer este cáncer. Las pruebas pueden salvar vidas porque encuentran los pólipos antes de que se vuelvan cancerosos. Si se extirpan los pólipos precancerosos, se puede prevenir el cáncer de colon. El cribado de Ca Colorrectal se debe comenzar a los 45 años:</p><br>
                <ul class="plan-vida-p">
                    <li><span>Prueba inmunoquímica fecal altamente sensible (FIT) cada año.</span></li>
                    <li>
                        <span>
                            Prueba de sangre oculta en heces fecales basada en guayacol (gFOBT)
                            altamente sensible, cada año.
                        </span>
                    </li>
                    <li><span>Prueba multidirigida de ADN en heces fecales cada 3 años.</span></li>
                    <li><span>Colonoscopia cada 10 años.</span></li>
                    <li><span>Colonografía CT (colonoscopia virtual) cada 5 años.</span></li>
                    <li><span>Sigmoidoscopia flexible cada 5 años.</span></li>
                </ul>
            </div>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "/src/assets/salud-mujer/onco-gine/icon-oncogine4.png",
    title: "Pruebas diagnósticas",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc: "/src/assets/salud-mujer/onco-gine/img-oncogine8.png",
    imageDesc: "",
    description_1: `<p>
                    Se han reseñado más de 50 síndromes hereditarios de cáncer. La mayoría de ellos son causados por mutaciones altamente penetrantes que se heredan en forma dominante. La lista a continuación incluye algunos de los síndromes hereditarios de cáncer más comunes para los que se dispone de pruebas genéticas; incluye también el gen o genes mutados en cada síndrome, así como los tipos de cáncer asociados con más frecuencia con estos síndromes.
                </p>`,
    orientation: 1,
    description_2: ``,
  },
  {
    icon: "",
    title: "",
    imageSrc: "",
    imageDesc: "",
    description_1: `<h4>Síndrome hereditario de cáncer de mama y de cáncer de ovario</h4>
                    <p><strong>Genes: BRCA1, BRCA2</strong></p>
                    <p>Tipos relacionados de cáncer: cáncer de mama en mujeres, cáncer de ovarios y otros cánceres, incluso de próstata, de páncreas y de seno en hombres</p>`,
    orientation: 1,
    description_2: "",
  },
];
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail pink"
  >
    <!-- Nuestra recomendaciones -->
    <section>
      <IconRow imageSrc={content[0].icon} title={content[0].title} />
      <HtmlBlock html={content[1].description_2} />
      <ImageRow
        imageSrc={content[1].imageSrc}
        orientation={content[1].orientation}
        html={content[1].description_1}
      />
    </section>

    <!-- Valoración en equipo -->
    <section>
      <IconRow imageSrc={content[2].icon} title={content[2].title} />
      <ImageRow
        imageSrc={content[3].imageSrc}
        orientation={content[3].orientation}
        html={content[3].description_1}
      />
    </section>

    <!-- Tratamiento -->
    <section>
      <IconRow imageSrc={content[4].icon} title={content[4].title} />
      <ImageRow
        imageSrc={content[5].imageSrc}
        orientation={content[5].orientation}
        html={content[5].description_1}
      />
    </section>

    <!-- Otros -->
    <section>
      <IconRow imageSrc={content[6].icon} title={content[6].title} />
      <ImageRow
        imageSrc={content[7].imageSrc}
        orientation={content[7].orientation}
        html={content[7].description_1}
      />
    </section>

    <HtmlBlock html={content[8].description_1} />

    <!-- Iconos -->
    <section>
      <Column number="2">
        <IconColumn
          imageSrc={content[9].imageSrc}
          title={content[9].title}
          text={content[9].description_1}
        />

        <IconColumn
          imageSrc={content[10].imageSrc}
          title={content[10].title}
          text={content[10].description_1}
        />
      </Column>
    </section>

    <!-- Pulmón -->
    <section>
      <ImageRow
        imageSrc={content[11].imageSrc}
        orientation={content[11].orientation}
        html={content[11].description_1}
      />
    </section>

    <!-- Colon -->
    <section>
      <ImageRow
        imageSrc={content[12].imageSrc}
        orientation={content[12].orientation}
        html={content[12].description_1}
      />
    </section>

    <!-- Pruebas diagnósticas -->
    <section>
      <IconRow imageSrc={content[13].icon} title={content[13].title} />
      <ImageRow
        imageSrc={content[14].imageSrc}
        orientation={content[14].orientation}
        html={content[14].description_1}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>

    <section>
      <IconRow
        description_1={content[15].description_1}
        orientation={content[15].orientation}
      />
    </section>
  </div>
</BaseLayout>
