---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "../../../components/HeroSmall.astro";
import ImageRow from "../../../components/widgets/ImageRow.astro";
import IconRow from "../../../components/widgets/IconRow.astro";

const pageTitle = "Reproducción asistida";
const url =
  "/src/assets/salud-mujer/reproduccion-asistida/banner-reproduccion.jpg";

import type { BaseContent } from "../../../interface/BaseContent";
import HtmlBlock from "../../../components/simple/HtmlBlock.astro";

export const content: BaseContent[] = [
  {
    icon: "/src/assets/salud-mujer/reproduccion-asistida/icon-reproduccion.png",
    title: "Inseminación Artificial (IA)",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-1.png",
    imageDesc: "",
    description_1: `<ul>
            <li>
              <span
                >Nos permite observar la localización, tamaño y frecuencia
                cardiaca del embrión. Se realiza entre la semana 6 y 9 de
                embarazo.</span
              >
            </li>
            <li>
              <span
                ><strong>Cribaje de primer trimestre:</strong> Descarta alteraciones
                de los cromosomas, como por ejemplo el Síndrome de Down. Consta de
                una analítica de sangre (semana 8-10) y una ecografía detallada (semana
                11-13)</span
              >
            </li>
            <li>
              <span
                ><strong>Ecografía semana 20-22:</strong> Durante la misma se observa
                la morfología del feto.</span
              >
            </li>
          </ul>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-2.png",
    imageDesc: "",
    description_1: `<h4>¿Qué es la Inseminación Artificial?</h4>
          <p>
            La Inseminación Artificial es una de las técnicas usadas por la
            Medicina Reproductiva cuando existe un problema de fertilidad y que
            consiste en la colocación de una muestra de semen, previamente
            preparada en el laboratorio, en el interior del útero de la mujer
            con el fin de incrementar el potencial de los espermatozoides y las
            posibilidades de fecundación del óvulo. De esta manera, se acorta la
            distancia que separa al espermatozoide del óvulo y facilitamos el
            encuentro entre ambos, aumentando las posibilidades de conseguir el
            tan deseado embarazo. A diferencia de la Fecundación in vitro, no es
            necesario la extracción previa de los óvulos de la mujer.
          </p>`,
    orientation: 1,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-3.png",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "Procedimiento",
  },
  {
    icon: "/src/assets/salud-mujer/reproduccion-asistida/icon-fecundacion.png",
    title: "Inseminación Artificial (IA)",
    imageSrc: "",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: ``,
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-4.png",
    imageDesc: "",
    description_1: `
    <h4>¿Qué es la Fecundación In Vitro?</h4>
    <p>La Fecundación In Vitro (FIV) es la unión del óvulo con el espermatozoide en el laboratorio-in vitro-, con el fin de obtener embriones ya fecundados para transferir al útero materno y que evolucionen hasta conseguir un embarazo.</p>
    <p>
      La fecundación de los óvulos puede llevarse a cabo mediante técnica de FIV convencional o Inyección Intracitoplasmática de Espermatozoides (ICSI). Es la técnica de Reproducción Asistida más utilizada en las clínicas de Medicina Reproductiva pero será el ginecólogo el que determine, tras un estudio previo sobre las posibles casusas de la infertilidad, cuál es la más adecuada para cada caso.
    </p>`,
    orientation: 1,
    description_2: `<p>La Fecundación In Vitro (FIV) es la unión del óvulo con el espermatozoide en el laboratorio-in vitro-, con el fin de obtener embriones ya fecundados para transferir al útero materno y que evolucionen hasta conseguir un embarazo.</p>`,
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-5.png",
    imageDesc: "",
    description_1: ``,
    orientation: 0,
    description_2: "Procedimiento",
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-6.png",
    imageDesc: "",
    description_1: `<h4>¿Qué es la Ovodonación?</h4>
                <p>
                    La ovodonación es un tratamiento de Reproducción Asistida que ofrece la oportunidad de tener un hijo a pacientes que no pueden gestar un embrión por sí mismas. En una ovodonación, se realiza una FIV (Fecundación in vitro) con la peculiaridad que los óvulos son de una donante y los espermatozoides son de la pareja receptora. También puede existir el caso, si se trata de mujeres que afrontan la maternidad en solitario, que el esperma también sea de donante.
                </p><br>
                <p>
                    Así, la donación de óvulos hace posible el milagro de la vida en mujeres que de otra manera no podrían tener hijos.
                </p>`,
    orientation: 0,
    description_2: `<p>
            La ovodonación permite dar la oportunidad a mujeres que no pueden
            tener hijos de gestar un embrión por sí mismas, fruto de los óvulos
            de una donante y los espermatozoides de la pareja receptora, en caso
            de tenerla, teniendo la opción de recurrir al banco de semen en caso
            contrario.
          </p>`,
  },
  {
    icon: "",
    title: "",
    imageSrc: "",
    imageDesc: "",
    description_1: `<h4>La donante</h4>
          <p>
            La donación de óvulos fue autorizada por la legislación española en
            el año 1988 (Ley 35/1988,22 de Noviembre) Desde ese momento, la
            donación está regulada y establece que la donante tiene que cumplir
            una serie de requisitos para donar óvulos:
          </p>`,
    orientation: 0,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-7.png",
    imageDesc: "",
    description_1: `<h4 class="pb-2">Edad: 18 a 35 años</h4>
                <p>
                  Historial genético acorde a los requisitos de la legislación
                  vigente.<br />
                  Normalidad del aparato reproductor.<br />
                  Evaluación ginecológica completa.<br />
                  Evaluación psicológica completa.<br />
                </p>`,
    orientation: 1,
    description_2: "",
  },
  {
    icon: "",
    title: "",
    imageSrc:
      "/src/assets/salud-mujer/reproduccion-asistida/reproduccion-8.png",
    imageDesc: "",
    description_1: ``,
    orientation: 2,
    description_2: `<p>
            Las mujeres se someten a una evaluación clínica y psicológica
            completa que nos ofrece una valiosa información respecto a su
            fertilidad, su estado de salud y su potencial para ser madres. Se
            les realiza una exploración ginecológica completa que permite
            descartar la presencia de quistes, miomas, pólipos y otras
            alteraciones del aparato reproductor. Además, se le realiza un
            estudio cromosómico que descarta futuras anomalías en bebés propios
            o en las receptoras de ovocitos. Se confirma la ausencia de
            enfermedades transmisibles como el VIH, la hepatitis, sífilis y
            también el grupo sanguíneo y Rh.
          </p><br />
          <p>
            Según la Ley de técnicas de reproducción asistida, toda donación de
            óvulos es anónima y voluntaria, no se revela la identidad de
            donantes ni de las receptoras. No obstante, se puede facilitar
            aquella información de interés para un correcto seguimiento de la
            gestación, como el grupo sanguíneo y la edad de la donante.
          </p>`,
  },
];
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail"
  >
    <!-- INSEMINACIÓN ARTIFICIAL -->
    <section>
      <IconRow imageSrc={content[0].icon} title={content[0].title} />
      <ImageRow
        imageSrc={content[1].imageSrc}
        orientation={content[1].orientation}
        html={content[1].description_1}
      />
    </section>

    <section>
      <ImageRow
        imageSrc={content[2].imageSrc}
        orientation={content[2].orientation}
        html={content[2].description_1}
      />
    </section>

    <div>
      <div>
        <h4 class="color-turquoise">Procedimiento</h4>
        <img
          src="/src/assets/salud-mujer/reproduccion-asistida/reproduccion-3.png"
        />
      </div>
    </div>

    <section>
      <IconRow imageSrc={content[4].icon} title={content[4].title} />
      <HtmlBlock text={content[5].description_2} />
      <ImageRow
        imageSrc={content[5].imageSrc}
        orientation={content[5].orientation}
        html={content[5].description_1}
      />
    </section>

    <div>
      <div>
        <p class="text-[1rem] color-turquoise">Procedimiento</p>
        <img
          src="/src/assets/salud-mujer/reproduccion-asistida/reproduccion-5.png"
        />
      </div>
    </div>

    <section>
      <IconRow imageSrc={content[6].icon} title={content[4].title} />
      <ImageRow
        imageSrc={content[7].imageSrc}
        orientation={content[7].orientation}
        html={content[7].description_1}
      />
    </section>

    <section>
      <div>
        <div>
          <HtmlBlock html={content[8].description_1} />
          <section>
            <IconRow
              description_1={content[9].description_1}
              imageSrc={content[9].imageSrc}
              orientation={content[9].orientation}
            />
          </section>

          <HtmlBlock text={content[10].description_2} />

          <ImageRow
            imageSrc={content[10].imageSrc}
            orientation={content[10].orientation}
          />
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
