---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "../../../components/HeroSmall.astro";
import ImageRow from "../../../components/widgets/ImageRow.astro";
import IconRow from "../../../components/widgets/IconRow.astro";
import IndexAccordion from "../../../components/grid/IndexAccordion.astro";


const pageTitle = "Reproducción asistida";
const url =
  "/salud-mujer/reproduccion-asistida/banner-reproduccion.jpg";

import type { BaseContent } from "../../../interface/BaseContent";
import HtmlBlock from "../../../components/simple/HtmlBlock.astro";

import { content } from "./reproduccion-asistida-content";

const sections = [
  {
    id: "section_1",
    title: "Inseminación Artificial (IA)",
  },
  {
    id: "section_2",
    title: "Fecundación in Vitro FIV",
  },
  {
    id: "section_3",
    title: "Ovodonación",
  },
];
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <IndexAccordion sections={sections} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail"
  >
    <!-- INSEMINACIÓN ARTIFICIAL -->
    <section id="section_1">
      <IconRow imageSrc={content[0].icon} title={content[0].title} />
      <ImageRow
        imageSrc={content[1].imageSrc}
        orientation={content[1].orientation}
        html={content[1].description_1}
      />
    </section>

    <section>
      <ImageRow
        imageSrc={content[2].imageSrc}
        orientation={content[2].orientation}
        html={content[2].description_1}
      />
    </section>

    <div>
      <div>
        <h4 class="color-turquoise">Procedimiento</h4>
        <img
          src="/salud-mujer/reproduccion-asistida/reproduccion-3.png"
        />
      </div>
    </div>


    <!-- FECUNDACIÓN IN VITRO -->
    <section id="section_2">
      <IconRow imageSrc={content[4].icon} title={content[4].title} />
      <HtmlBlock text={content[5].description_2} />
      <ImageRow
        imageSrc={content[5].imageSrc}
        orientation={content[5].orientation}
        html={content[5].description_1}
      />
    </section>

    <div>
      <div>
        <p class="text-[1rem] color-turquoise">Procedimiento</p>
        <img
          src="/salud-mujer/reproduccion-asistida/reproduccion-5.png"
        />
      </div>
    </div>

    <!-- OVODONACIÓN -->
    <section id="section_3">
      <IconRow imageSrc={content[6].icon} title={content[6].title} />
      <ImageRow
        imageSrc={content[7].imageSrc}
        orientation={content[7].orientation}
        html={content[7].description_1}
      />
    </section>

    <section>
      <div>
        <div>
          <HtmlBlock html={content[8].description_1} />
          <section>
            <IconRow
              description_1={content[9].description_1}
              imageSrc={content[9].imageSrc}
              orientation={content[9].orientation}
            />
          </section>

          <HtmlBlock text={content[10].description_2} />

          <ImageRow
            imageSrc={content[10].imageSrc}
            orientation={content[10].orientation}
          />
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
