---
import HtmlBlock from "../../components/simple/HtmlBlock.astro";
const { imageSrc, imageDesc, orientation, html } = Astro.props;

const mode = orientation ?? 0;
// mode = 0: Modo imagen a la izquierda
// mode = 1: Modo imagen a la derecha
// mode = 2: Modo imagen completa
---

<div class="px-2">
  {
    mode === 0 && (
      // Imagen a la izquierda
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 md:col-span-6 grid items-center justify-center">
          <img src={imageSrc} alt={imageDesc} />
          {imageDesc && (
            <p class="py-2">
              <HtmlBlock html={imageDesc} />
            </p>
          )}
        </div>
        {html && (
          <div class="col-span-12 md:col-span-6 grid md:mt-15">
            <HtmlBlock html={html} />
          </div>
        )}
      </div>
    )
  }

  {
    mode === 1 && (
      // Imagen a la derecha
      <div class="grid grid-cols-12 gap-4">
        {html && (
          <div class="col-span-12 md:col-span-6 grid md:mt-15">
            <HtmlBlock html={html} />
          </div>
        )}
        <div class="col-span-12 md:col-span-6 grid items-center justify-center">
          <img src={imageSrc} alt={imageDesc} />
          {imageDesc && (
            <p class="py-2">
              <HtmlBlock html={imageDesc} />
            </p>
          )}
        </div>
      </div>
    )
  }

  {
    mode === 2 && (
      // Imagen en modo full
      <div class="grid grid-cols-1 gap-4">
        <div class="grid items-center justify-center">
          <img class="w-full" src={imageSrc} alt={imageDesc} />
          {imageDesc && (
            <p class="py-2">
              <HtmlBlock html={imageDesc} />
            </p>
          )}
        </div>
      </div>
    )
  }
</div>
