---
import HtmlBlock from "../../../components/simple/HtmlBlock.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "/src/components/HeroSmall.astro";
import ImageRow from "/src/components/widgets/ImageRow.astro";
import Column from "../../../components/widgets/Column.astro";
import TextBlock from "../../../components/simple/TextBlock.astro";
import IconColumn from "../../../components/widgets/IconColumn.astro";
import MoreInformacionForm from "../../../components/MoreInformacionForm.astro";

const pageTitle = "Disfunción erectil";
const url = "/src/assets/salud-hombre/disfuncion-erectil/banner-disfuncion.jpg";
import { content } from "./disfuncion-erectil-content.ts";
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail"
  >
    <section>
      <HtmlBlock html={content[0].description_1} />
    </section>
    <section>
      <ImageRow
        imageSrc={content[1].imageSrc}
        html={content[1].description_1}
      />
    </section>
    <section>
      <ImageRow
        imageSrc={content[2].imageSrc}
        html={content[2].description_1}
        orientation="1"
      />
    </section>
    <section>
      <ImageRow
        imageSrc={content[3].imageSrc}
        html={content[3].description_1}
      />
    </section>
    <section>
      <TextBlock text={content[4].title} />

      <Column number="4">
        <IconColumn
          imageSrc={content[5].imageSrc}
          title={content[5].title}
          text={content[5].description_1}
        />

        <IconColumn
          imageSrc={content[6].imageSrc}
          title={content[6].title}
          text={content[6].description_1}
        />

        <IconColumn
          imageSrc={content[7].imageSrc}
          title={content[7].title}
          text={content[7].description_1}
        />

        <IconColumn
          imageSrc={content[8].imageSrc}
          title={content[8].title}
          text={content[8].description_1}
        />
      </Column>

      <HtmlBlock html={content[8].description_2} />
    </section>

    <section>
      <Column number="4">
        <IconColumn
          imageSrc={content[9].imageSrc}
          title={content[9].title}
          text={content[9].description_1}
        />

        <IconColumn
          imageSrc={content[10].imageSrc}
          title={content[10].title}
          text={content[10].description_1}
        />

        <IconColumn
          imageSrc={content[11].imageSrc}
          title={content[11].title}
          text={content[11].description_1}
        />

        <IconColumn
          imageSrc={content[12].imageSrc}
          title={content[12].title}
          text={content[12].description_1}
        />
      </Column>
    </section>
  </div>
  <MoreInformacionForm />
</BaseLayout>
