---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HeroSmall from "../../../components/HeroSmall.astro";
const pageTitle = "Uro oncología";
const url = "/src/assets/salud-hombre/uro-oncologia/banner-urooncologia.jpg";

import ImageRow from "/src/components/widgets/ImageRow.astro";

import { content } from "./uro-oncologia-content.ts";
---

<BaseLayout>
  <HeroSmall name={pageTitle} url={url} alternativeText={pageTitle} />

  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto pt-10 pb-5 service-detail"
  >
    <!-- SECTION 1 -->
    <section>
      <ImageRow
        imageSrc={content[0].imageSrc}
        html={content[0].description_1}
      />
    </section>
    <section>
      <ImageRow
        imageSrc={content[1].imageSrc}
        orientation="1"
        html={content[1].description_1}
      />
    </section>
    <section>
      <ImageRow
        imageSrc={content[2].imageSrc}
        html={content[2].description_1}
      />
    </section>
    <section>
      <ImageRow
        imageSrc={content[3].imageSrc}
        orientation="1"
        html={content[3].description_1}
      />
    </section>
  </div>
</BaseLayout>
