---
const { bannerOcasoData } = Astro.props;
const { imageSrc, heading, heading2, buttonText, buttonLink } = bannerOcasoData;
---

<section class="bg-[#003362] p-10" data-component="BannerOcaso">
  <!-- fila -->
  <div
    class="grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 lg:gap-10 items-center max-w-5xl mx-auto"
  >
    <!--columna izquierda -->
    <div class="text-left px-6 lg:px-0 py-6 lg:py-0 gap-6">
      <h2 class="text-lg font-bold text-white mb-5">{heading}</h2>

      <!-- ventana -->
      <div class="bg-white text-black p-10 mt-4 grid-col-1 rounded-lg">
        <p class="text-[1.3rem] font-bold text-center family-Lato">
          {heading2}
        </p>
        <a
          href={buttonLink}
          class="block bg-yellow-400 py-4 px-6 mt-4 rounded-lg
          family-Lato text-sm text-center text-black font-bold
          transform transition-all duration-300 hover:scale-110 hover:bg-[#F7B710]"
        >
          {buttonText}
        </a>
      </div>
    </div>

    <!--columna derecha -->
    <div>
      <img
        src={imageSrc}
        alt="Ocaso Banner Image"
        class="w-full rounded-[50px] -mt-12 -mb-12 z-100 max-w-100 z-100"
      />
    </div>
  </div>
</section>
