---
import Button from "./Button.astro";

const { bannerData } = Astro.props;
const { imageSrc, title, subtitle, buttonText, buttonLink } = bannerData;
---

<section class="grid grid-cols-2 items-center lg:gap-10 bg-[#F2F4F8] rounded-xl max-w-5xl mx-auto"
  data-component="Banner">
  <!-- Imagen a la izquierda que sobresale 35px por arriba y abajo -->
  <img src={imageSrc} alt="Banner Image"
  class="w-full rounded-[50px] -mt-12 -mb-12 z-100 max-w-100" >
  
  <div class="grid lg:grid-cols-2 grid-cols-1 px-6 lg:px-0 py-6 lg:py-0 gap-6">
    <!-- Contenido en el centro -->
    <div class="text-left lg:col-span-1">
        <h2 class="text-[1.2rem] font-bold text-gray-800">{title}</h2>
        <p class="text-[0.85rem] text-gray-600 mt-1">{subtitle}</p>
    </div>

    <Button buttonText={buttonText} buttonLink={buttonLink}></Button>
</section>
