---
import type { Center } from "../interface/Centers";
import SimpleButton from "./buttons/SimpleButton.astro";

export interface Props {
  centers: Center[];
}

// import { Loader } from "@googlemaps/js-api-loader";

// Configuración de Google Maps
// const loader = new Loader({
//   apiKey: "TU_API_KEY_DE_GOOGLE_MAPS", // Reemplaza con tu API key
//   version: "weekly",
// });

// Función para inicializar el mapa
// async function initMap() {
//   const { Map } = await loader.importLibrary("maps");
//   new Map(document.getElementById("map"), {
//     center: { lat: -34.397, lng: 150.644 },
//     zoom: 8,
//   });
// }

const { centers } = Astro.props;
---

<div id="contenedorCantidadResultados">
  <div class="resultados_location flex justify-center">
    <p>Se han encontrado {centers.length} resultados</p>
  </div>
</div>

<div x-data="{ view: 'list' }">
  <!-- Tabs para cambiar entre vistas -->
  <div class="flex justify-center gap-2">
    <button
      class="bg-[#009494] text-white
        text-[0.93rem]
        inline-flex p-2
        transform hover:bg-[#007e7e]
        text-white p-[0.9375rem] cursor-pointer
        rounded-full"
      @click="view = 'list'">Listado</button
    >
    <button
      class="bg-[#009494] text-white
        text-[0.93rem]
        inline-flex p-2
        transform hover:bg-[#007e7e]
        text-white p-[0.9375rem] cursor-pointer
        rounded-full"
      @click="view = 'map'; initMap()">Mapa</button
    >
  </div>

  <!-- Vista de listado -->
  <div class="mt-3" x-show="view === 'list'">
    <div id="listaResultados" class="listaResultados">
      <div id="listado ">
        {
          centers.map((center, index) => (
            <div
              class="bg-white p-5 grid grid-cols-2 mb-1 items-center justify-center"
              id={`resultado${index}`}
            >
              <div class="leftLocation">
                <div class="imgLocationList" />
                <div class="textLocationList grid grid-col-1 gap-2">
                  <div class="h5 bold_textLocationList">{center.name}</div>

                  {/* ADDRESS */}
                  <div class="flex gap-1">
                    <span class="bold_textLocationList">
                      {center.address.street}
                    </span>
                    <span>{center.address.postal_code}</span>
                    <span>{center.address.city}</span>
                  </div>

                  {/* PHONE */}
                  <div>
                    <span class="bold_textLocationList">TELÉFONO: </span>
                    {center.phone}
                  </div>

                  {/* DISTANCE */}
                  <div>
                    <span class="bold_textLocationList">DISTANCIA:</span>{" "}
                    {center.distance_km}
                  </div>
                </div>
              </div>
              <div class="rightLocation grid grid-col-1 justify-self-end">
                <SimpleButton buttonText="Pedir cita" buttonLink="/area-privada/pedir-cita">

                <div class="horario_consulta">
                  <a
                    class="btn_popup"
                    href="javascript:void(0)"
                    onclick="toggleVisibility('horario0')"
                    class="color-turquoise border-1 px-3 py-2 rounded-full hover:bg-[#009494] hover:text-white"
                  >
                    Ver horario de consulta
                  </a>
                </div>
              </div>
              <div
                id={`horario${index}`}
                style="display:none;"
                class="table-responsive-lg"
              >
                <table class="table">
                  <tbody>
                    <tr>
                      <th>L</th>
                      <th>M</th>
                      <th>X</th>
                      <th>J</th>
                      <th>V</th>
                      <th>S</th>
                      <th>D</th>
                      <th>F</th>
                      <th>Desde</th>
                      <th>Hasta</th>
                    </tr>
                    <tr>
                      <td colspan="8">Cerrado</td>
                      <td>00:00</td>
                      <td>00:00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Vista del mapa -->
  <div class="mt-3" x-show="view === 'map'">
    <div id="map" class="w-full">
      <img src="./src/assets/gmap.jpg" alt="gmap" />
    </div>
  </div>
</div>
