---
import SimpleButton from "./buttons/SimpleButton.astro";

const { slide } = Astro.props;
const { imageSrc, heading, description, category, buttonText, buttonLink } =
  slide;
---

<div class="grid grid-col-1 gap-3">
  <div
    class="min-h-[20rem] flex justify-end items-end bg-cover bg-center relative p-2"
    style={`background-image: url(${imageSrc});`}
  >
    <!-- Capa oscura para mejorar contraste -->
    <div class="absolute inset-0 bg-black opacity-20"></div>

    <div class="z-10 text-white max-w-lg grid gap-3">
      <SimpleButton buttonLink={buttonLink} buttonText={buttonText}>
        <svg
          class="w-6 h-6 text-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m10 16 4-4-4-4"></path>
        </svg>
      </SimpleButton>
    </div>
  </div>

  <p class="text-[1.2rem] bold mt-2">{heading}</p>
  <p class="text-sm uppercase tracking-wide">{category}</p>
  <p class="text-sm">{description}</p>
</div>
