---
import Button from "./Button.astro";

const { promotionsData } = Astro.props;
const { title, promotions } = promotionsData;
---

<section class="bg-[#F2F4F8] p-10" data-component="Promotions">
  <div class="items-center max-w-5xl mx-auto mb-10">
    <h2 class="text-[1.2rem] font-bold">{title}</h2>
  </div>

  <!-- fila -->
  <div class="max-w-5xl mx-auto">
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-10 items-center ">
      {
        promotions.map((promotion: any) => (
          <div
            class="min-h-[20rem] flex justify-end items-end bg-cover bg-center relative"
            style={`background-image: url(${promotion.imageSrc});`}
          >
            <div class="absolute inset-0 bg-black opacity-30" />

            <p class="text-[1.2] text-white font-bold">{promotion.heading}</p>
            <Button
              buttonText={promotion.buttonText}
              buttonLink={promotion.buttonLink}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
