---
import BaseLayout from "../../layouts/BaseLayout.astro";
import IconRow from "/src/components/widgets/IconRow.astro";
import AllPromotions from "../../data/promotions";
import SimpleBudgetForm from "../../components/forms/SimpleBudgetForm.astro";

// Astro necesita generar las rutas dinámicas antes del build
export async function getStaticPaths() {
  return AllPromotions.map((promotion) => ({
    params: { promotion: promotion.buttonLink.replace("/promociones/", "") }, // Extrae el slug de la URL
    props: { promotion },
  }));
}

// Obtener los datos del post actual basado en la URL
const { promotion } = Astro.props;
---

<BaseLayout pageTitle={promotion.heading}>
  <div
    class="items-center max-w-5xl px-10 sm:px-10 md:px-10 lg:mx-auto p-10 grid grid-col-1"
  >
    <IconRow
      imageSrc="/src/assets/icon/ico-promo.png"
      title={promotion.heading}
    />

    <div class="grid lg:grid-cols-2 grid-col-1 gap-10 bg-white p-10 lg:p-15">
      <div class="grid grid-cols-1 gap-2">
        <div
          class="min-h-[20rem] flex items-end bg-cover bg-center relative"
          style={`background-image: url(${promotion.imageSrc});`}
        >
          <div class="absolute inset-0 bg-black opacity-10"></div>
          <div
            class="absolute top-3/4 left-5 color-turquoise text-[2rem] font-bold"
          >
            <div class="grid grid-col-1 z-100 color-turquoise">
              <p>Valorada en:</p>
              <span>{promotion.price}€</span>
            </div>
          </div>
        </div>
        <article class="prose w-full">
          <p>{promotion.body}</p>
        </article>
      </div>

      <SimpleBudgetForm />
    </div>
  </div>
</BaseLayout>

<!-- <div class="absolute top-3/4 left-5 color-turquoise text-[2rem] font-bold">
  <div class="grid grid-col-1 z-100 color-turquoise">
    <p>Valorada en:</p>
    <span>{promotion.price}€</span>
  </div>
</div> -->
